<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-icon md-svg-icon="assets/images/ic_trending.svg"></md-icon>
      <h2>ランキング情報</h2>
      <span flex></span>
      <md-button aria-label="colse" class="md-icon-button" ng-click="trendingDialog.hide()">
        <md-icon md-svg-src="assets/images/close.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="ヒヤロコシェア数">
        <md-content class="md-padding">
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="data in trendingDialog.shareData" ng-click="trendingDialog.goToDetailsDialog(data)">
              <md-icon md-svg-icon="assets/images/ranking_{{ $index + 1 }}.svg" ng-if="$index <= 2"></md-icon>
              <div class="md-list-item-text" ng-class="{'md-offset': $index > 2 }">
                <h4>{{ data.address }}</h4>
                <h4>{{ data.title }}</h4>
                <p>{{ data.likesCount }}人がシェアしています</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>

      <md-tab label="ヒヤロコ登録数">
        <md-content class="md-padding">
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="data in trendingDialog.ragnumData">
              <md-icon md-svg-icon="assets/images/ranking_{{ $index + 1 }}.svg" ng-if="$index <= 2"></md-icon>
              <div class="md-list-item-text" ng-class="{'md-offset': $index > 2 }">
                <h4 ng-if="!data.key.split('-_-')[1]">{{ data.key.split("-_-")[0] }} さん</h4>
                <h4 ng-if="data.key.split('-_-')[1]">{{ data.key.split("-_-")[1] }} さん</h4>
                <p>{{ data.doc_count }}件登録してくれました！</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-dialog-content>
</md-dialog>
