{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
