# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# gulp-s3 config (https://www.npmjs.com/package/gulp-s3)
aws.json

bower_components/
.idea/
.tmp/
dist/
coverage/
reports/

