{
  "key": "akid",
  "secret": "secret",
  "bucket": "bucket.name",
  "region": "ap-northeast-1",
  "es": {
    "endpoint": "xxx.ap-northeast-1.es.amazonaws.com",
    "index": "kuro-hanpen",
    "region": "ap-northeast-1"
  }
}
