<md-dialog aria-label="ヒヤロコ登録" class="regist" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>ヒヤロコ登録</h2>
        <span flex></span>
        <md-button aria-label="colse" class="md-icon-button" ng-click="regist.cancel()">
          <md-icon md-svg-src="assets/images/close.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>タップした地点をヒヤロコ登録します。</p>
        <md-input-container>
          <label>カテゴリ</label>
          <md-select ng-model="regist.hiyaloco.title" required>
            <md-option ng-repeat="title in regist.titles" value="{{title}}">{{title}}</md-option>
          </md-select>
        </md-input-container>
        <br>
        <md-input-container>
          <label>住所</label>
          <input ng-model="regist.hiyaloco.address">
        </md-input-container>
        <br>
        <md-input-container>
          <label>詳細</label>
          <input ng-model="regist.hiyaloco.description">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="regist.cancel()">キャンセル</md-button>
      <md-button class="md-raised md-primary" ng-click="regist.regist()">登録</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
