<section layout="row" flex>

  <div ui-view="sidenav"></div>

  <md-content flex layout-fill>
    <md-toolbar class="top-toolbar">
      <div class="md-toolbar-tools">
        <md-button ng-click="main.toggleSideMenu()"
                   class="md-primary md-icon-button"
                   aria-label="Settings" hide-gt-md>
          <md-icon md-svg-icon="assets/images/ic_menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>ヒヤロコシェア</span>
        </h2>
      </div>
    </md-toolbar>

    <ui-gmap-google-map center='main.map.center' zoom='main.zoom' options="main.options">

      <ui-gmap-markers ng-repeat="category in main.categories"
          models="category.markers"
          coords="'self'"
          icon="'icon'"
          ng-if="category.display">
      </ui-gmap-markers>

    </ui-gmap-google-map>
  </md-content>

</section>
