<section layout="row" flex>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <md-button ng-click="main.toggleSideMenu()"
                   class="md-primary md-icon-button"
                   aria-label="Close" hide-gt-md>
          <md-icon md-svg-icon="assets/images/ic_chevron_left.svg"></md-icon>
        </md-button>
        <h1>
          <span>地図に表示</span>
        </h1>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <md-list>
        <md-list-item ng-repeat="type in main.filters">
          <img class="icon" ng-src="assets/images/{{type.img}}">
          <p> {{ type.name }} </p>
          <md-checkbox class="md-secondary" ng-model="type.checked"></md-checkbox>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <md-content flex layout-fill>
    <md-toolbar class="top-toolbar">
      <div class="md-toolbar-tools">
        <md-button ng-click="main.toggleSideMenu()"
                   class="md-primary md-icon-button"
                   aria-label="Settings" hide-gt-md>
          <md-icon md-svg-icon="assets/images/ic_menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>ヒヤロコシェア</span>
        </h2>
      </div>
    </md-toolbar>

    <ui-gmap-google-map center='main.map.center' zoom='main.zoom' options="main.options">

      <ui-gmap-marker ng-repeat="marker in main.markers | filter : main.filterByCategory"
          idKey="marker.id"
          coords="marker.coords"
          options="{icon: marker.icon}">
      </ui-gmap-markers>

    </ui-gmap-google-map>
  </md-content>

</section>
