<section layout="row" flex>

  <div ui-view="sidenav"></div>

  <md-content flex layout-fill>
    <md-toolbar class="top-toolbar">
      <div class="md-toolbar-tools">
        <md-button ng-click="main.toggleSideMenu()"
                   class="md-primary md-icon-button"
                   aria-label="Settings" hide-gt-md>
          <md-icon md-svg-icon="assets/images/ic_menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>ヒヤロコシェア</span>
        </h2>
        <span flex></span>
        <md-button ng-click="main.showUserDialog()"
                   class="md-icon-button"
                   aria-label="UserSettings">
          <md-icon md-svg-src="assets/images/ic_account.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div ui-view="gmap"></div>
  </md-content>


</section>
