<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><md-icon md-svg-icon="assets/images/ic_help.svg"></md-icon>
        使い方</h2>
      <span flex></span>
      <md-button aria-label="colse" class="md-icon-button" ng-click="usageDialog.hide()">
        <md-icon md-svg-src="assets/images/close.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-content id="usage" class="md-padding">
      <h3>ヒヤロコシェアとは</h3>
      <p>
        「ヒヤロコ（ヒヤリハットロケーション）」をシェアして、静岡市での安心安全な生活をサポートするためのサービスです。<br>
        下記のようなヒヤロコをみんなで共有して、静岡市でのより安全な暮らしをつくりあげていきましょう。
      </p>
      <ul>
        <li>この道は狭いのみ交通量が多くて危ないな</li>
        <li>ここは最近不審者が出るから注意しないと</li>
        <li>雨の日にあのマンホールの蓋で滑りそうになった</li>
      </ul>
      <md-divider>

      <h3>ヒヤロコを調べてみよう</h3>

      <h4>知りたい施設のアイコンだけ表示しよう</h4>
      <img src="assets/images/usage/top_menu.png">
      <p>左上のメニューボタンをタップして</p>
      <img src="assets/images/usage/menu.png">
      <p>表示したい施設だけをチェックすると、チェックした施設のアイコンだけが地図上に表示されます。</p>

      <h4>施設の情報を見てみよう</h4>
      <img src="assets/images/usage/top_facility.png">
      <p>表示したい施設のアイコンをタップすると</p>
      <img src="assets/images/usage/detail_facility.png">
      <p>
        施設の情報が表示されます。<br>
        ストリートビューは動かすこともできます。<br>
        (ストリートビューが存在しない地域は表示されません)
      </p>

      <h4>通学路にヒヤロコがないか見てみよう</h4>
      <img src="assets/images/usage/detail_route.png">
      <p>「現在地からここまでの経路を表示」をタップすると</p>
      <img src="assets/images/usage/top_route.png">
      <p>
        地図上に経路が表示されます。<br>
        お子様の通学路にヒヤロコがないか、是非チェックしてみてください。
      </p>
      <md-divider>

      <h3>ヒヤロコをシェアしよう</h3>

      <h4>ユーザ名を設定しよう</h4>
      <img src="assets/images/usage/top_user.png">
      <p>右上の顔アイコンをタップすると</p>
      <img src="assets/images/usage/user.png">
      <p>
        ユーザ名を設定することができます。<br>
        設定後は変更することができないので素敵な名前を設定してください。<br>
        ユーザ名はヒヤロコ登録者名として表示されます。<br>
        設定しなくてもヒヤロコの登録はできますが、設定前に登録したヒヤロコはランキングにて別集計となりますので、事前に登録することをお勧めします。
      </p>

      <h4>ヒヤロコを登録しよう</h4>
      <img src="assets/images/usage/top_regist.png">
      <p>地図をタップすると</p>
      <img src="assets/images/usage/regist.png">
      <p>
        ヒヤロコ登録画面が表示されます。<br>
        「カテゴリ」「住所」「詳細」を入力して、ヒヤロコを登録してください。
      </p>

      <h4>ヒヤロコをシェアしよう</h4>
      <img src="assets/images/usage/top_hiyaloco.png">
      <p>表示したいヒヤロコのアイコンをタップすると</p>
      <img src="assets/images/usage/detail_hiyaloco.png">
      <p>ヒヤロコの詳細が表示されます。</p>
      <img src="assets/images/usage/detail_hiyaloco_share.png">
      <p>
        参考になったヒヤロコは、いいねアイコンをタップしてシェアをしましょう。<br>
        (シェアは取り消せないので慎重に！)
      </p>
      <img src="assets/images/usage/detail_hiyaloco_del.png">
      <p>
        例えば道路の工事が完了したなど、「もう安全になった」と思うヒヤロコは削除してあげてください。<br>
        他人が登録したヒヤロコも削除することができるので、本当に安全になったのかご確認の上、削除は慎重に行ってください。
      </p>

      <h4>ランキングを見よう</h4>
      <img src="assets/images/usage/top_ranking.png">
      <p>右上の矢印アイコンをタップすると</p>
      <img src="assets/images/usage/ranking_share.png">
      <p>
        ヒヤロコシェア数の多いものを確認することができます。<br>
        タップすることで地図中央にヒヤロコが表示され、詳細画面が開きます。
      </p>
      <img src="assets/images/usage/ranking_regist.png">
      <p>
        ヒヤロコ登録数のタブをタップすると、ヒヤロコをたくさん登録してくれた人のユーザ名を見ることができます。<br>
        あなたもランキング１位を目指してたくさんのヒヤロコを登録してみてください！
      </p>
      <md-divider>

      <h3>アプリ情報</h3>
      <h4>本アプリについて</h4>
      <ul>
        <li>本アプリは現在地の位置情報を使用しますので、位置情報サービスをオンにしてご利用ください</li>
        <li>本アプリは<a href="https://shizuoka-app-awards.jp/">シズオカアプリコンテスト</a>に登録しています</li>
        <li>シズオカアプリコンテスト終了後、本アプリを閉鎖する可能性がありますのでご了承ください</li>
        <li>本アプリは下記オープンデータを使用しています
          <ul>
            <li>ヒヤリハットマップ</li>
            <li>市内保育施設一覧表（平成27年度入園用）</li>
            <li>市内幼稚園一覧</li>
            <li>市立小学校、中学校及び高等学校一覧</li>
            <li>葵区・駿河区内にある公園基本情報一覧表</li>
          </ul>
        </li>
      </ul>

      <h4>動作確認環境について</h4>
      <p>下記ブラウザにて動作確認を行っています。</p>
      <ul>
        <li>iPhone / iPad
          <ul>
            <li>Safari</li>
          </ul>
        </li>
        <li>Mac / Windows / Android
          <ul>
            <li>Chrome</li>
          </ul>
        </li>
      </ul>
      <h4>ぷれぜんてっどばーい</h4>
      <p>team Shizuoka-Oden... thank you !!!</p>
    </md-content>
  </md-dialog-content>
</md-dialog>
