/*
デフォルトで作成されたスタイルを無効化

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}
*/

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
}

.angular-google-map-container {
  height: 100vh;
}

.addbutton {
  position: absolute;
  right: 0px;
  bottom: 160px;
}
.addbutton span {
  line-height: 30px;
  font-size: 40px;
}