@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
md-dialog.md-transition-in {
  animation-delay: 150ms;
  animation-duration: 50ms;
  animation-fill-mode: backwards;
  animation-name: fadeIn;
}
